files:
  "/etc/httpd/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
    SSLCertificateId: arn:aws:acm:eu-west-1:321528451064:certificate/a2d1665d-e3d8-4d5a-aff8-67725fd8affc
  aws:elb:loadbalancer:
    ManagedSecurityGroup: sg-0c2d1453bed9697bc
    SecurityGroups: sg-0c2d1453bed9697bc